conda create -n torch-nocs python=3.10
conda install -c conda-forge pycocotools
conda install pytorch torchvision torchaudio pytorch-cuda=11.7 -c pytorch -c nvidia
conda install pytorch3d -c pytorch3d

pip install hydra-core --update